@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');

* {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	background-color: #101113;
	font-family: 'Josefin Sans', sans-serif;
	scroll-behavior: smooth;
}

a {
	color: inherit;
	text-decoration: none;
}

button, input {
	font-family: 'Josefin Sans', sans-serif;
}

button {
	background-color: #17191c;
	color: #767676;
	border: none;
	border-radius: 6px;
	font-size: 16px;
	cursor: pointer;

	&:hover {
		background-color: #1a1d20;
		color: #8b8a8a;
	}

	&:active {
		background-color: #1d2024; 
		color: #ababab;
	}

	&:focus-visible {
		outline: none;
	}
}

input {
	&::placeholder {
		color: white;
	}

	&:focus-visible {
		outline: none;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

h1 {
	color: white;
	font-weight: 400;
	font-size: 42px;
	margin-bottom: 30px;
	user-select: none;
	text-align: center;
}

@media screen and (max-width: 425px) {
    
	h1 {
		font-size: 30px;
	}
 }