.sub {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1300px;
    min-height: 60px;
    margin: 0 auto 30px auto;
    padding: 20px 0;
    border-top: 1px solid #28292b;
    user-select: none;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #1011139e;
    backdrop-filter: blur(10px);

    .sub__column {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    a {
        font-size: 13px;
        color: #b7bdc2;
        cursor: pointer;
        transition: all 0.4s;

        &:hover {
            color: white;
        }
    }
    
    a:first-child {
        margin-left: 0;
    }
    
    .hover {
        color: white !important;
    }
}

.body {
    display: flex;
    min-height: calc(100vh - 90px - (60px + 30px) - (43px + 30px) - 100px);
    padding: 15px;
    height: 100%;
    max-width: 1300px;
    margin: auto;
    flex-direction: column;
    align-items: center;
}