.sub {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1300px;
    min-height: 60px;
    margin: 0 auto 30px auto;
    padding: 20px 0;
    border-top: 1px solid #28292b;
    user-select: none;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #1011139e;
    backdrop-filter: blur(10px);

    .sub__column {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    a {
        font-size: 13px;
        color: #b7bdc2;
        cursor: pointer;
        transition: all 0.4s;

        &:hover {
            color: white;
        }
    }
    
    a:first-child {
        margin-left: 0;
    }
    
    .hover {
        color: white !important;
    }
}

.body {
    display: flex;
    min-height: calc(100vh - 90px - (60px + 30px) - (43px + 30px) - 100px);
    padding: 15px;
    height: 100%;
    max-width: 1300px;
    margin: auto;
    flex-direction: column;
    align-items: center;

    .score {
        display: flex;
        gap: 20px;
        align-items: center;
        color: #767676;

        button {
            padding: 10px;
        }
    }

    .memory {
        display: grid;
        grid-template-columns: repeat(4, 75px);
        gap: 8px;

        .card {
            height: 75px;
            position: relative;
            transform-style: preserve-3d;
            transition: all .2s;
            transform: rotateY(0deg);
            user-select: none;

            .card__front, .card__back {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: #eee;
                border-radius: 50%;
            }
        
            .card__front {
                z-index: 2;
                font-size: 50px;
                line-height: 75px;
                vertical-align: middle;
                text-align: center;
                transform: rotateY(180deg);
                backface-visibility: hidden;
            }
        }
        
        .card.flipped {
            transform: rotateY(180deg);
        }

        .card.found .card__front {
            background-color: aquamarine;
        }
    }
}